*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
}
body a,body a:hover, body a:active{
	outline: none;
}
.hidden {
	display: none;
}
.carousel img {
	width: 100%;
	height: auto;
}
.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	position: relative;
}

header{
	background-image: url("../img/top_bg.jpg");
	background-repeat: repeat-x;
	min-height:644px;
	background-position: top center;
	position: relative;
	font-family: "BebasRegular", sans-serif;
}

header a{
	color:#fff;
}

.top_line{
	min-height:97px;
	box-shadow: rgba(255,255,255,.3) 0 0 0 1px;
	-webkit-box-shadow: rgba(255,255,255,.3) 0 0 0 1px;
	-moz-box-shadow: rgba(255,255,255,.3) 0 0 0 1px;
	width:100%;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 22px 0;
}

.top_line a{
	font-size: 22px;
	border-bottom:1px dashed #fff;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}

.top_line a:hover{
	border-bottom:transparent 1px dashed;
}

.top_addr{
	padding-left:50px;
	background-image: url("../img/top_map.png");
	background-repeat: no-repeat;
	background-position: left top;
	line-height: 26px;
}

.top_addr strong{
	display:block;
	color:#d12f22;
	font-size:32px;
	text-transform: uppercase;

}

.top_line .logo{
	border-bottom:none;
	position: absolute;
	margin-top: -18px;
}

.top_line .logo:hover{
	border-bottom:none;
}

.logo_wrap{
	position: relative;
	width:217px;
	margin: auto;
}

.ta_right{
	background-image: none;
	padding-left:0;
	text-align: right;
}

.ta_right span{
	color:#fff;
}

header h1{
	text-align: center;
	color:#fff;
	font:40px "BebasRegular", sans-serif;
	margin-top: 65px;
	text-shadow: 0 2px rgba(0, 0, 0, 0.55);
}

.button{
	display: inline-block;
	background-color: #d12f22;
	height:50px;
	vertical-align: middle;
	line-height: 50px;
	padding: 0 20px;
	font-size:20px;
	border-bottom: 3px solid #ac160a;
	color:#fff;
	font: 20px/48px "BebasBold";
}

.button:hover{
	background-color: #e64437;
}

.button:active{
	background-color: #b81609;
}

header .button{
	margin-right: 20px;
}

.st_button{
	line-height: 18px;
	padding-top: 7px;
	text-align: left;
	padding-left: 70px;
	background-image: url("../img/camera_icon.png");
	background-repeat: no-repeat;
	background-position: 12px;
}

.buttons_top{
	position: absolute;
	width:100%;
	bottom:32px;
}

nav.top_mnu{
	height: 62px;
	background-color: #242424;
	box-shadow: rgba(255,255,255,.3) 0 0 0 1px;
	-webkit-box-shadow: rgba(255,255,255,.3) 0 0 0 1px;
	-moz-box-shadow: rgba(255,255,255,.3) 0 0 0 1px;
	font-family: "BebasRegular";
	text-transform: uppercase;
}

.top_mnu ul{
	margin: 0;
	padding: 0;
	list-style-type: none
}

.top_mnu a{
	color:#fff;
	font-size: 20px;
	line-height: 62px;
	padding:0 26px 0 50px;
	display: block;
	border-left:1px solid #3b3b3b;
	background-image: url("../img/top_mnu_iconset.png");
	background-repeat: no-repeat;
	background-position: 13px 17px;
}

.top_mnu li{
	float:left;
}

.top_mnu li.active,
.top_mnu li:hover a{
	background-color: #050505;
}

.top_mnu li:nth-child(2) a{
	background-position: 13px -66px;
}

.top_mnu li:nth-child(3) a{
	background-position: 20px -148px;
}

.top_mnu li:nth-child(4) a{
	 background-position: 14px -234px;
}

.top_mnu li:nth-child(5) a{
	background-position: 14px -314px;
}

.top_mnu li:nth-child(6) a{
	background-position: 17px -411px;
}

.warranty{
	width:174px;
	float: right;
	color:#fff;
	border:3px solid #fff;
	border-radius: 4px;
	cursor:default;
	font-size:15px;
	padding:3px 5px;
	line-height: 16px;
	margin-top: 9px;
}

.w_left, .w_right{
	display: inline-block;
	vertical-align: top;
}

.w_left{
	float:left;
	font-family: "BebasBold";
	font-size:20px;
	margin-top: 10px;
	margin-right: 12px;
}

.w_left span{
	font-size: 33px;
}

.w_right{
	font-family: "RobotoCondensedRegular";
}

.main_cats{
	background-color: #191919;
	padding:18px 0 46px;
	font-family: "BebasRegular";
}

.main_cats h2,
h2.art_header{
	text-transform: uppercase;
	color:#c9c9c9;
	font-family: "BebasRegular";
	font-size: 40px;
	text-align: center;
}

.main_cats h2 strong{
	color:#fff;
}

.main_cats h2 span{
	color:#d12f22;
}

section h2,
article h2{
	position:relative;
}

.s_black h2::before{
	content: "";
	position: absolute;
	width:50px;
	height:20px;
	background-image: url("../img/header_img.png");
	margin-left: -70px;
  top: 19px;
}

.s_black h2::after{
	content: "";
	background-position: -50px 0;
	position: absolute;
	width:50px;
	height:20px;
	background-image: url("../img/header_img.png");
	margin-left: 20px;
  top: 19px;
}

.mc_wrap{
	text-align: center;
	padding: 0;
	position: relative;
}

.mc_item{
	border:1px solid #353535;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.mc_item_wrap{
	margin-left:30px;
	width:160px;
	display: inline-block;
	text-align: center;
}

.mc_item_wrap:first-child{
	margin-left:0;
}

.mc_item_wrap a{
	color: #fefefe;
}

.mc_item span{
	display: block;
	height: 86px;
	width: 134px;
	background-image: url(../img/cats_iconset.png);
	background-repeat: no-repeat;
	margin:15px auto 0;
}

.mc_item h4{
	font-size:18px;
	margin-top: 5px;
	margin-bottom: 7px;
}

.mc_item a:hover h4,
.mc_item_wrap.active h4{
	text-decoration: underline;
}

.mc_item_wrap.active, .mc_item_wrap:hover{
	background-color: #2a2a2a;
}

.mc_item_wrap:nth-child(1) span{
	background-position: 13px 5px;
}

.mc_item_wrap:nth-child(2) span{
	background-position: -127px 5px;
}

.mc_item_wrap:nth-child(3) span{
	background-position: -266px 5px;
}

.mc_item_wrap:nth-child(4) span{
	background-position: -405px 5px;
}

.mc_item_wrap:nth-child(5) span{
	background-position: -545px 5px;
}

.mc_item_wrap:nth-child(6) span{
	background-position: -684px 5px;
}

.mc_toggle{
	background-color: #212121;
	height:25px;
	position:relative;
	cursor: pointer;
	background-image: url(../img/mc_arr.png);
	background-repeat: no-repeat;
	background-position: -117px 9px;
}

.mc_item_wrap.active .mc_toggle, .mc_item_wrap:hover .mc_toggle{
	background-color: #353535;
	background-position: 72px 9px;
}

.mc_wrap .mc_item_wrap>ul{
	position:absolute;
	width:100%;
	margin: 0;
	padding:15px 0;
	list-style-type: none;
	background-color: #353535;
	margin-top: 20px;
	z-index:10;
	display:none;
	left:0;
}

.mc_item_wrap.active>ul li{
	display: inline-block;
	font-size: 20px;
	line-height: 32px;
}

.mc_item_wrap.active>ul li a{
	padding:0 10px;
	text-decoration: underline;
}

.mc_item_wrap.active>ul li a:hover{
	padding:0 10px;
	text-decoration: none;
}

.mc_item_wrap_af {
    content: "";
    height: 9px;
    width: 18px;
		background-image: url(../img/mc_c_arrow.png);
		margin: 11px 0 0 70px;
    position: absolute;
		display: none;
}

.mc_button_wrap{
	text-align: center;
	margin-top: 30px;
}
article.content{
	background-color: #e9e9e9;
}
article h2.art_header{
	color:#050505;
	margin:27px 0 10px 0;
}
article h2.art_header::before{
	content: "";
	position: absolute;
	width:50px;
	height:20px;
	background-image: url("../img/article_header_img.png");
	margin-left: -70px;
  top: 19px;
}
article h2.art_header::after{
	content: "";
	background-position: -50px 0;
	position: absolute;
	width:50px;
	height:20px;
	background-image: url("../img/article_header_img.png");
	margin-left: 20px;
  top: 19px;
}
p.h_descr{
	max-width: 790px;
	text-align: center;
	margin:auto;
	margin-top: 0;
	color: #050505;
	margin-bottom: 36px;
}
.home_items{
	background-color: #d6d6d6;
	padding-top:42px;
}
.hi_item{
	color: #050505;
	font-size:14px;
	text-align: center;
	margin-bottom:20px;
}
.hi_item img{
	max-width: 100%;
	border-top:8px solid #ac160a;
}
.s_bottom{
	padding-top:32px;
}
.sb_header.button_cont{
	text-align: right;
}
.s_bottom img{
	max-width:90%;
	display: block;
	position: absolute;
	bottom: 0;
}
.s_bottom h2{
	font-family: "BebasRegular";
	font-size: 36px;
	color:#050505;
	text-align: left;
	text-transform: uppercase;
	margin:0;
}
.s_bottom p{
	color:#050505;
}
.sb_content {
    margin-top: 15px;
}
footer{
	background-color: #2a2a2a;
	color:#fff;
	font-family: "BebasBold";
	font-size:20px;
	padding:29px 0 35px 0;
}
footer a{
	color:#fff;
}
footer ul{
	list-style-type: none;
	padding:0;
	margin:0;
}
footer li{
	float:left;
}
footer a{
	padding:0 12px;
	text-decoration: underline;
}
footer a:hover{
	text-decoration: none;
}
